@media screen and (max-width: 600px){
    article.generalInformation {
        height: auto;
        flex-direction: column;
    }

    div.mainText {
        max-width: 100%;
    }

}

.generalInformation{
    width: 100%;
    height: 500px;

    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-shadow: 0px 10px 10px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;


}

.mainText{
    max-width: 330px;
    padding: 25px;
}

.h2{
    font-size: 25px;
    line-height: 39px;
    color: #002B5C;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;

}

.imageBlock{
    position: relative;
    border-radius: 0 0 5px 0;
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.contactInfo{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #0167FF;
    padding: 20px;
    border-radius: 5px 0 5px 0;
    color: white;
}

.contactText{
    margin-bottom: 15px;
}



.arrows {
    position: fixed;
    width: 31px;
    height: 31px;
    z-index: 110;

    cursor: pointer;
    border: none;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrowNext {
    bottom: 0;
    z-index: 110;
    margin: 0px 50px;
    background: #005be4;
    border-radius: 0 5px 5px 0;
}
.arrowPrev {
    bottom: 0;
    z-index: 110;
   
    margin: 0px 20px;
    background: #0167ff;
    border-radius: 5px 0 0 5px;
}

.Carousel {
    height: 100%;
    width: 100%;
    z-index: 0;
}

.Carousel div {
    height: 100% !important;
}

.Carousel ul{
    height: 100% !important;
}

.CarouselItem {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position-x: 0;

    height: 200px;
}