.parent { 
    width: 100%;
    z-index: 0;
    position: relative;
}

.CarouselItem { 
    height: 200px;
}

.Carousel { 
    z-index: 1;
}

.parentBorder > div > div > div > div{ 
    clip-path: inset(0% 0% 0% 0% round 10px);
}

.arrows {    
    position: relative;
    width: 31px;
    height: 31px;
    z-index: 110;

    cursor: pointer;
    border: none;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrowNext { 
    z-index: 110;
    margin: 0px 50px;
    bottom: 20px;
    background: #005BE4;
    border-radius: 0 5px 5px 0;
}
.arrowPrev { 
    z-index: 110;
    bottom: -211px;
    margin: 0px 20px;
    background: #0167FF;
    border-radius: 5px 0 0 5px;
}



@media screen and (max-width: 800px) {
    img.backGroundImg{
        width: 100%;
        border-radius: 0;
        height: 300px;
    }
    img.altBackGroundImg{
        width: 100%;
        border-radius: 0;
        height: 300px;
    }
    div.schedule{

        margin: auto 0;
    }
    .CarouselItem { 
        height: 300px;
    }
    .arrowPrev { 
        bottom: -311px;
    }

    .divSchedule{
        flex-direction: column;
    }
    article.ImageWithSchedule{
        background-size: auto;
        height: 300px;
    }

    div.AltScheduleButtons{
        bottom: -280px;
    }
}

.ImageWithSchedule {
    width: 100%;
    max-width: 1300px;
    margin-top: 10px;
    border-radius: 10px;

    background: #b8d5fa;

    height: 200px;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ImageWithSchedule button{
    cursor: pointer;
}


.backGroundImg{
    position: absolute;
    z-index: -1;
    max-width: 1300px;
    height: 200px;
    background-size: 100% 100%;
    width: calc( 100% - 100px);
    border-radius: 10px;
}

.altBackGroundImg{
    position: absolute;
    z-index: -1;
    max-width: 1300px;
    height: 200px;
    background-size: 100% 100%;

    border-radius: 10px;
    width: 100%;
}


.schedule{
    z-index: 1;
    position: absolute;

    top: 50px;

    font-size: 16px;
    background: rgba(33, 53, 77, 0.75);
    color: #FFFFFF;
    border-radius: 5px;
    padding: 15px;
    margin: auto 20px;
}

.divSchedule{
    display: flex;

}

.divSchedule div:first-child{
    margin-right: 20px;
}
.schedule p{
    margin: 5px;
}


.AltScheduleButtons{
    position: relative;
    bottom: -180px;
    display: flex;
    margin: 0 20px;
}

.scheduleButtons{
    position: relative;
    bottom: -10px;
    display: flex;
    margin: 0 20px;

}

.ImageWithSchedule button{
    color: white;
    border: none;
    width: 31px;
    height: 31px;

}

.right{
    background: #005BE4;
    border-radius: 0 5px 5px 0;
}

.left{
    background: #0167FF;
    border-radius: 5px 0 0 5px;
}

.hidden{
    display: none;
}



