@media screen and (min-width: 1400px) {
    main.main{
        min-width: 1300px;

    }
}

@media screen and (min-width: 1400px) {
    main.main{
        padding: 0;

    }
}

@media screen and (max-width: 1000px) {

    div.specificContacts{

        flex-direction: row;

    }
}

@media screen and (max-width: 500px) {
    main.main{
        padding: 0 10px 0 10px;
    }
}

.main{

    padding: 0 50px 0 50px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    max-width: 1250px;;
    min-width: 60%;
}


.firstContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 20px;
}

.specificContacts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    justify-content: space-evenly;
}