@media screen and (max-width: 500px) {
    article.textSecondBlock h2{
        font-size: 21px;
    }

    article.textSecondBlock p{
        font-size: 16px;
    }
}
.textSecondBlock{
    width: 40%;
}

.textSecondBlock h2{
    margin-top: 0 !important;
    font-weight: 500;
    font-size: 30px;
}

.textSecondBlock p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 20px;
}
