@media screen and (max-width: 900px) {
    div.footerInformation{
        max-width: 1300px;
        min-width: 400px;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    div.containerInformationFooter{
        width: 350px;
    }
}
@media screen and (max-width: 500px) {
    div.footerInformation{
        min-width: 100px;
    }
}

.footer{
    background: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    color: white;
}

.footer a{
    padding: 20px;
    font-weight: 700;
    font-size: 16px;
}

.footer a:after{
    position: relative;
    bottom: -6px;
    background-image: url("../public/facebookIcon.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content:"";
}

.footerInformation h3{
    font-weight: 500;
    font-size: 24px;
}

.footerInformation span{
    font-weight: 500;
    font-size: 16px;
}

.footerInformation{
    max-width: 1300px;
    min-width: 400px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.containerInformationFooter{
    display: flex;
    flex-direction: column;

}

.containerInformationFooter .containerScheduleFooter{
    display: flex;
    flex-direction: row;
}

.containerInformationFooter .containerScheduleFooter div {
    display: flex;
    flex-direction: column;
}

.containerScheduleFooter div{
    margin-right: 40px;
}

.facebookIcon{
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0 10px 10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
}