.contForPhotos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    max-height: 100vh;
    overflow-y: scroll;
}

.contForPhotos > div{
    margin: 5px;
    flex-direction: row;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background: #e1e1e1;
    align-items: center;
    border-radius: 2px;
}

.contForPhotos img{
    width: auto;
    margin: 0;
    object-fit: cover;

}


.imgFrame div{
    overflow: hidden;

}


button.blockBut{
    display: block;
}

.closeBut{
    z-index: 10;
    position: fixed;
    right: 0;
    top: 0;
    display: none;
    border: none;
    background: url("../public/cross.svg");
    background-repeat: no-repeat;
    font-weight: 700;
    font-size: 32px;
    height: 44px;
    width: 44px;

}
.imgNotFix{
    object-fit: cover;
    height: 200px;

}

.backBlack{
    z-index: 5;
    display: none;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0, 0.4);
}

.select{
    padding: 10px 30px;
    width: 100%;
    outline: none;
    box-shadow: none;
    color: #002B5C;
    font-weight: 600;
    border: 2px solid #002B5C;
    border-radius: 10px;
}