@media screen and (max-width: 1300px) {


    .openbtn{
        display: block !important;
    }

    .aboveNav{
        min-width: 90vw;
    }

    nav.mainNav{
        position: relative;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        top: 0;
        left: 0;
        background: #ffffff;
        height: auto;
        width: fit-content;
        padding-top: 10px;
    }

    nav.mainNav a{
        border: none;
        height: 30px;

        padding: 0 15px;
    }

    nav.mainNav a.chosenPage{
        border: none;
        background: #0167FF;
        color: white;
        border-radius: 3px;
    }

    nav.hiddenMainNav{
        display: none !important;
    }
}



@media screen and (max-width: 850px) {
    h1.logoName{
        font-size: 20px ;
    }
}

@media screen and (max-width: 500px) {
    .logoName{
        font-size: 15px !important;
    }
}

.openbtn{
    display: none;
    border: none;
    background: white;
    font-weight: 700;
    font-size: 32px;
    height: 44px;
    width: 44px;

}

.header a, .header button, .header h1{
    cursor: pointer;
}

.aboveNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.logoInformation{
    display: flex;
    align-items: center;
}

.logo{
    background-image: url("../public/logo.png");
    width: 52px;
    height: 70px;
    background-size: 100% 100%;
    margin-right: 20px;
}

.logoName{
    font-size: 32px;
}

.changeLanguage{
    cursor: pointer;
    color: #525252;

    font-weight: 600;
    font-size: 16px;

    width: 44px;
    height: 44px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.changeLanguage:hover ~ a.optionalLang, .optionalLang:hover{
    cursor: pointer;
    color: #525252;

    font-weight: 600;
    font-size: 16px;

    width: 44px;
    height: 44px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50px;

    background: #FFFFFF;
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 2px;

}



.optionalLang{
    display: none;
}

.mainNav{
    height: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mainNav a{
    border-top: 2px #CACACA solid;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 44px;

    color: #525252;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.mainNav a.chosenPage{
    border-top: 2px #0070f3 solid ;
    color: #0167FF;
}

.switchButtons{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

