@media screen and (max-width: 1300px) {
    .hiddenLang{
        display: none !important;
    }

    .openbtn{
        display: block !important;
    }

    .aboveNav{
        min-width: 90vw;
    }





    nav.mainNav{
        position: relative;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        top: 0;
        left: 0;
        background: #ffffff;
        height: auto;
        width: fit-content;
    }

    .changeLanguage{
        cursor: pointer;
        position: absolute;
        top: 80px;
        right: 55px;
        display: block;
    }

    nav.mainNav a{
        border: none;
        height: 50px;
    }

    nav.mainNav a.chosenPage{
        border: none;
        background: #0167FF;
        color: white;
        border-radius: 3px;
    }

    nav.hiddenMainNav{
        display: none !important;
    }
}

@media screen and (max-width: 850px) {
    .logoName{
        font-weight: 700;
        font-size: 20px !important;
    }
}

@media screen and (max-width: 500px) {
    .logoName{
        display: none;
    }
}

.openbtn{
    display: none;
    border: none;
    background: white;
    font-weight: 700;
    font-size: 32px;
}

.aboveNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.logoInformation{
    display: flex;
    align-items: center;
}

.logo{
    background-image: url("../public/logo.png");
    width: 52px;
    height: 70px;
    background-size: 100% 100%;
    margin-right: 20px;
}

.logoName{
    font-weight: 700;
    font-size: 32px;
}

.changeLanguage{
    cursor: pointer;
    color: #525252;

    font-weight: 600;
    font-size: 16px;

    width: 44px;
    height: 44px;
    border: 2px #979797 solid;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mainNav{
    height: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mainNav a{
    border-top: 2px #CACACA solid;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;

    color: #525252;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.mainNav a.chosenPage{
    border-top: 2px #0070f3 solid ;
    color: #0167FF;
}