@media screen and (max-width: 800px) {
    img.backGroundImg{
        width: 100%;
        border-radius: 0;
        height: 300px;
    }
    img.altBackGroundImg{
        width: 100%;
        border-radius: 0;
        height: 300px;
    }
    div.schedule{

        margin: auto 0;
    }

    .divSchedule{
        flex-direction: column;
    }
    article.ImageWithSchedule{
        background-size: auto;
        height: 300px;
    }

    div.AltScheduleButtons{

        bottom: -280px;

    }
}

.ImageWithSchedule{
    width: 100%;
    max-width: 1300px;
    margin-top: 10px;
    border-radius: 10px;

    background: #b8d5fa;

    height: 200px;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ImageWithSchedule button{
    cursor: pointer;
}


.backGroundImg{
    position: absolute;
    z-index: -1;
    max-width: 1300px;
    height: 200px;
    background-size: 100% 100%;
    width: calc( 100% - 100px);
    border-radius: 10px;
}

.altBackGroundImg{
    position: absolute;
    z-index: -1;
    max-width: 1300px;
    height: 200px;
    background-size: 100% 100%;

    border-radius: 10px;
    width: 100%;
}


.schedule{
    font-size: 20px;
    background: rgba(33, 53, 77, 0.75);
    color: #FFFFFF;
    border-radius: 5px;
    padding: 15px;
    margin: auto 20px;
}

.divSchedule{
    display: flex;

}

.divSchedule div:first-child{
    margin-right: 20px;
}
.schedule p{
    margin: 5px;
}


.AltScheduleButtons{
    position: relative;
    bottom: -180px;
    display: flex;
    margin: 0 20px;
}

.scheduleButtons{
    position: relative;
    bottom: -10px;
    display: flex;
    margin: 0 20px;

}

.ImageWithSchedule button{
    color: white;
    border: none;
    width: 31px;
    height: 31px;

}

.right{
    background: #005BE4;
    border-radius: 0 5px 5px 0;
}

.left{
    background: #0167FF;
    border-radius: 5px 0 0 5px;
}

.hidden{
    display: none;
}