@media screen and (max-width: 500px) {
    article.NewsFacebook{
        margin-bottom: 0;
    }
    article.NewsFacebook h2{
        font-size: 21px;
    }
    article.NewsFacebook p{
        font-size: 16px;
    }
    article.NewsFacebook span{
        font-size: 16px;
    }

    article.NewsFacebook a{
        font-size: 16px;
    }
}

.NewsFacebook{
    flex-basis: 48%;
    padding: 10px 25px;
    width: 40%;
    border-radius: 5px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.NewsFacebook h2{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 10px;
}

.NewsFacebook p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    line-clamp: 5;
    box-orient: vertical;

}

.NewsFacebook span{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
}

.NewsFacebook a{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
}

.NewsFacebook a {
    margin-left: auto;
    border: none;
    padding: 5px 15px;
    color: #ffffff;
    background: #0167FF;
    border-radius: 3px;
}

.NewsFacebook div{
    display: flex;
    align-items: center;
    width: 100%;
}