@media screen and (max-width: 800px) {
    nav.sideNav{
        display: none;
        flex-direction: row;
        flex: none;
    }

}

.sideNav{
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    flex: 20%;
}

.sideNav a{
    color: #525252;
    padding: 10px 5px;
    font-family: 'Monserrat', sans-serif;
    font-weight: 600;
    font-size: 19px;
}

.sideNav a.chosenPage{
    border-radius: 3px;
    background: #0167FF;
    color: #ffffff;
}


