.eventBodyEven { 
    color: black;
    background-color: rgba(57, 133, 255, 1);
    height: 100%;
    cursor: pointer;
}

.eventBodyOdd { 
    color: black;
    background-color: rgba(59, 113, 200, 1) !important;
    height: 100%;
    cursor: pointer;
}

.containerBig { 
    padding: 10px;
}
.conatinerSmall { 
    padding: 1px;
}