.eventBodyEven { 
    color: black;
    background-color: rgba(57, 133, 255, 1);
    height: 100%;
    cursor: pointer;
}

.eventBodyOdd { 
    /* border-radius: 5px; */
    color: black;
    background-color: rgba(59, 113, 200, 1) !important;
    height: 100%;
    cursor: pointer;
}

.container { 
    border-radius: 100px;
}

.contrastText { 
    /* color: gray; */
    /* mix-blend-mode: difference;
    filter: contrast(19); */
}
